* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 60px;
  color: rgb(62, 62, 62);
}

#canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#canvasContainer {
  display: flex;
  flex-flow: column wrap;
  width: 800px;
  height: 800px;
  border: 2px solid darkslategrey;
}

button {
  width: 150px;
  height: 45px;
  border-radius: 15px;
  border-width: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
