* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(62, 62, 62);
}

h1 {
  font-size: 4rem;
}

#canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 5vh 5vw;
}

#canvasContainer {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  height: 500px;
  border: 2px solid darkslategrey;
}

#canvasSettings {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

button {
  background-color: white;
  border-radius: 15px;
  font-size: 0.9rem;
}

.topRow {
  margin: 10px;
}

#dimensionNum {
  text-align: center;
  margin-top: 10px;
}
