* {
  font-family: "Roboto", sans-serif;
  color: rgb(62, 62, 62);
}

h1 {
  font-size: 90px;
}

#canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#canvasContainer {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  height: 500px;
  border: 2px solid darkslategrey;
}

#canvasSettings {
  display: flex;
  justify-content: center;
}

.topRow {
  margin-bottom: 20px;
}

button {
  width: 150px;
  height: 45px;
  border-radius: 15px;
  border-width: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}

#colorSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#colorPicker {
  width: 150px;
  height: 45px;
}

#otherSettings {
  display: flex;
  margin: 0 30px;
  flex-direction: column;
  align-items: center;
}

#gridDimensions {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
